---
layout: default
---

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151560876-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151560876-1');
    </script>
</head>

<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    <div class="article-post">
        {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>